<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
  <form action="/display/register-league" method="POST">
    <table>
        <tr>
            <td>Player ID</td>
            <td><input type="text" name="title"></td>
        </tr>
        <tr>
            <td>Player Name</td>
            <td><input type="text" name="year"></td>
        </tr>
        <tr>
            <td>League Name</td>
            <td><select name="league">
                <option value="UNKNOWN">Select..</option>
                <option value="SUMMER">World</option>
                <option value="WINTER">States</option>
                <option value="AUTUMN">Domestic</option>
            </select></td>
        </tr>
        <tr>
            <td><input type="submit" value="register"></td>
        </tr>
    </table>

  </form>
</body>
</html>